
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can get in touch with the team of the 
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
  through the official website.
  <br>
  For questions or feedback about this sample application, please visit the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
